<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3" >
            <img src="<%=campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=campground.title%></h5>
              <p class="card-text"><%=campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%=campground.location%></li>
              <li class="list-group-item">$<%=campground.price%>/night</li>
              
            </ul>
            <div class="card-body">
              <a class="card-link btn btn-info" href="/campground/<%=campground._id%>/edit" class="card-link">Edit</a>
              <form class="d-inline" action="/campground/<%=campground._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">DELETE</button>
            </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
              </div>
        </div>
        <h2>Leave A Review</h2>
        <form action="/campground/<%=campground._id%>/reviews" method="post" novalidate class="mb-3 validation">
          <div class="mb-3">
            <label for="rating" class="form-label" >Rating</label>
            <input type="range" class="form-range" name="review[rating]" min="1" max="5" id="rating" required>
           </div>
          <div class="mb-3">
            <label class="form-label" for="body">Body</label>
            <textarea class="form-control" name="review[body]" id="body" cols="10" rows="3" required></textarea>
            <div class="valid-feedback">
              Look's Good
            </div>
          </div>
          <div class="mb-3">
            <button class="btn btn-success">Submit</button>
          </div>
        </form>
    </div>

</div>




    <!-- <h1><%=campground.title%></h1>
    <h2><%=campground.location%></h2>
    <img src="<%=campground.image%>" alt="">
    <p><%=campground.description%></p>
    <p><a href="/campground/<%=campground._id%>/edit">Edit Campground</a></p>
    <p>
        <form action="/campground/<%=campground._id%>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
    </p>
    <a href="/campground">All Campgrounds</a> -->
