<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/star.css">


<div class="row">
    <div class="col-6">
        <div class="card mb-3" >
            <img src="<%=campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=campground.title%></h5>
              <p class="card-text"><%=campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%=campground.location%></li>
              <li class="list-group-item ">Posted By~<%=campground.author.username%></li>
              <li class="list-group-item">$<%=campground.price%>/night</li>
              
            </ul>
            <% if(user && campground.author.equals(user._id)){ %>
              <div class="card-body">
                <a class="card-link btn btn-info" href="/campground/<%=campground._id%>/edit" class="card-link">Edit</a>
                <form class="d-inline" action="/campground/<%=campground._id%>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">DELETE</button>
              </form>
              </div>
            <%}%>
            <div class="card-footer text-muted">
                2 days ago
              </div>
        </div>
        
    </div>
    <div class="col-6">
      <%if(user){%>
      <h2>Leave A Review</h2>
        <form action="/campground/<%=campground._id%>/review" method="post" novalidate class="mb-3 validation">
          <div class="mb-3">
            <fieldset class="starability-basic">
               <h5>Rating</h5> 
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3">
            <label class="form-label" for="body"><h6>Review Text</h6></label>
            <textarea class="form-control" name="review[body]" id="body" cols="10" rows="3" required></textarea>
            <div class="valid-feedback">
              Look's Good
            </div>
          </div>
          <div class="mb-3">
            <button class="btn btn-success">Submit</button>
          </div>
        </form>
        <%}%>
        <%for(let review of campground.reviews){%>
          <div class="card">
            <div class=" card-body">
              
              <h5 class="card-subtitle mb-2 text-muted">By~<%=review.author.username%></h6>
              <p class="card-title starability-result" data-rating="<%=review.rating%>">
                Rated: <%=review.rating%> stars
              </p>
              <p class="card-text" >Review: <%=review.body%></p>
              <%if(user && review.author.equals(user._id)){%>
                <form action="/campground/<%=campground._id%>/review/<%=review._id%>?_method=DELETE" method="post">
                  <button class="btn btn-danger btn-sm">Delete</button>
                </form>
              <%}%>
              
            </div>
          </div>
        <%}%>
    </div>

</div>




    <!-- <h1><%=campground.title%></h1>
    <h2><%=campground.location%></h2>
    <img src="<%=campground.image%>" alt="">
    <p><%=campground.description%></p>
    <p><a href="/campground/<%=campground._id%>/edit">Edit Campground</a></p>
    <p>
        <form action="/campground/<%=campground._id%>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
    </p>
    <a href="/campground">All Campgrounds</a> -->
